<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/highlighter/SyntaxHighlighter.css"/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <script src='/socket.io/socket.io.js'> </script>
    <script src='/javascripts/code.js'> </script>

    <style>
        body {
            padding: 50px;
            color: #eee;
        }
    </style>

  </head>
  <body>
    <p>New code:</p>
    <textarea id="codeTextarea"></textarea>
    <input type="submit" value="Submit" id="code_submit">
    
  </body>
</html>
