<!DOCTYPE html>
<html>
    <head>
        <title>Fathomless Lake Development Platform</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/dashboard.css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
                <h1>Fathomless Lake Development Platform</h1>
        </header>
        
        <div class="center">
            <h1 class="title"><u>dashboard</u></h1>
            <ul class="dlist">
                <a href="#">
                    <li class="proyect">
                        <h2 class="proyect-title">Proyecto 1</h2>
                        <p class="description">Descripcion: Esto es una descripcion muy bonita</p>
                    </li>
                </a>
                <a href="#">
                    <li class="proyect">
                        <h2 class="proyect-title">Proyecto 2</h2>
                        <p class="description">Descripcion: Esto es una descripcion muy bonita mas larguita a ver que se puede estar haciendo cuando una cadena de texto es realmente larga pero que cosas no?! </p>
                    </li>
                </a>
            </ul>
        </div>
        </body>
    </html>
