<!DOCTYPE html>
<html>
    <head>
        <title>Fathomless Lake Development Platform</title>
        <link rel='stylesheet' href='/stylesheets/codeforces.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <script src='/socket.io/socket.io.js'> </script>
        <script src='/javascripts/chat.js'> </script>
    </head>
    <body>
        <header>
                <h1>Fathomless Lake Development Platform</h1>
        </header>
            <div class="controls">

                <div id="chat">
                    <div id="content">
                    </div>
                    <div id="chat-control">
                        <input id="name" value="<%= user %>"/>
                        <input id="field"/>
                    </div>
                </div>

                <div id="enunciado">
                    <h2><u><i>Problem</i></u></h2>

                    <div id="codeforces">
                    </div>
                    <span><u><i>URL</i></u></span>
                    <input id="new_problem">
                    <input type="button" id="submit_problem" value="Buscar">
                </div>


                <div id="gists">
                    <h2><u><i>Code</i></u></h2>
                    <div id="gist-code">
                        <script src="https://gist.github.com/matiaslina/<%=gist_id%>.js"></script>
                    </div>
                    <a href="/create_gist" target="blank" style="margin: 7px;">Create a gist!</a>
                    <a href="/update_gist" target="blank" style="margin: 7px;">Update gist!</a>
                </div>

            </div>
        </body>
    </html>
