<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="controls">
        <h3>Name:</h3><input type="text" id="name"/>
        <br>
        <input id="field" />
        <input id="send" type="button" value="send">

        <div id="content">
        </div>

    <script src='/socket.io/socket.io.js'> </script>
    <script src='/javascripts/chat.js'> </script>
    </div>
  </body>
</html>
